.head{
    background: linear-gradient(90deg, #06D6A0 0%, #1B9AAA 100%);
    display: flex;
    align-items: center;
    padding-top: 2vh;
}
.head > img{
    width: 10vw;
    border-radius: 30%;
    box-shadow: -3vh 3vh 0 #0BC19C;
    margin: 0 6vh 4vh;
}
.head>h1{
    margin-left: 4vw;
    text-wrap: nowrap;
    
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 7vh;
  font-style: normal;
    
}

.eng-pol{
    align-self: normal;
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 2vh;
}


/* toggle i don how it realy works i just edited so it places flags */
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility:hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
    background-image: url("https://flagcdn.com/w2560/gb.png");
    background-size: contain;
    background-repeat: no-repeat;
	width: 80px;
	height: 40px;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 32px;
	height: 32px;
	background: #fff;
	border-radius: 72px;
	transition: 0.3s;
}

input:checked + label {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/69/Zastava_Kranja.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

input:checked + label:after {
	left: calc(100% - 4px);
	transform: translateX(-100%);
}
label:active:after {
	width: 65px;
}



